.offscreen-map {
    position: absolute;
    top: 20px;
    left: 200000px; 

}

.paper-sheet-label {
    color: #ff7800;
    text-align: center;
    opacity: 0.8;
}

.leaflet-printpages-dialog{
    background-color: white;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
    color: #333333;
    padding: 6px 10px 6px 10px;
    line-height: 1.0;
}

a.print-page-dialog-template-link {
    color: #999;
    border-bottom: 1px dashed #999;
    text-decoration: none;    
    cursor: pointer;
    margin-right: 5pt;
}

.leaflet-printpages-dialog p{
    margin: 0 0 5pt 0;
}

.leaflet-printpages-dialog table {
    border-spacing: 0;
    border-collapse: collapse;    
}

.leaflet-printpages-dialog table.margincells td{
    padding: 0;
}


.leaflet-printpages-dialog input {
    padding: 0 2pt;
    margin: 0;
    border: 1px solid #777;
    border-radius: 3px 3px 3px 3px;    
}

.leaflet-printpages-dialog table.form > tbody > tr > td{
    padding: 5pt 1.5pt;
}

.leaflet-printpages-dialog table.form > tbody > tr {
    border-bottom: 1px solid #eee;
}
.leaflet-printpages-dialog table.form > tbody > tr:last-child {
    border-bottom: none;
}

.print-page-dialog-download-pane{
    text-align: center;
}

.print-page-dialog-download-pane > * {
    border-radius: 4px 4px 4px 4px;   
    border: 1px  solid #ccc;
}


a.print-page-dialog-download-link{
    font-weight: bold;
    cursor: pointer;
    line-height: 22px;
    color: #444;
    padding: 5px 10px;
}

a.print-page-dialog-download-link:hover{
    background-color: #f4f4f4;
}
a.print-page-dialog-remove-all-pages {
    font: bold 18px 'Lucida Console',Monaco,monospace;
    text-indent: 1px;
    color: #333;
    text-align: center;
    float: right;
    }
    
.progress-unknown {
    width: 22px;
    margin-left: auto;
    margin-right: auto;
}

.progress-unknown-bar {
    line-height: 22px;
    width: 22px;
    -webkit-animation: anim1 0.5s linear 0 infinite;
    animation: anim1 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes anim1 {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

@-webkit-keyframes anim1 {
    from {-webkit-transform: rotate(0deg);}   
    to {-webkit-transform: rotate(360deg);}
}

.hidden {
    display: none;
}

.progress {
//    width: 100%;
    margin-left: auto;
    margin-right: auto;    
    height: 10px;
    padding: 6px 4px;
}

.progress-bar {
    width: 10%;
    background-color: #888;
    height: 10px;
}

.progress-bar-bkg {
    width: 100%;
    background-color: #ccc;
    height: 10px;
}
a.print-page-button {
    width: 26px;
    height: 26px;
    line-height: 26px;
    border-radius: 4px 4px 4px 4px;   
    display: block;
    border: 1px  solid #ccc;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    cursor: pointer;    
}

a.print-page-button:hover {
    background-color: #f4f4f4;
}

a.print-page-add-landscape {
    background-image: url('images/add-page-horiz.png');
    float: left;
    margin-left : 4pt;    
}

a.print-page-add-portrait {
    background-image: url('images/add-page-vert.png');
    float: left;
}

